@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core 3.1 Web App</h1>
    <p>Learn ASP.NET Core 3.1 runs on OCP v3.11/v4 <a href="https://docs.microsoft.com/aspnet/core"> and on RHEL7/8, Windows10/2019</a>.</p>
</div>
