@page
@model PrivacyModel
@{
    ViewData["Title"] = "About ASP.NET Core 3.1 Web App";
}
<h1>@ViewData["Title"]</h1>

<p>Same Code Web App with ASP.NET Core 3.1 will run on OCPv3.11/4, RHEL7/8, Win10/2019, etc.</p>
